.navBar {
    height: 80px;
    background-color: #90EE90; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    font-weight: 600;
    font-size: 24px;
  }

  .logo img{
    width: 120px;
  }
  
  .navItems {
    display: flex;
    align-items: center;
  }
  
  .navButton {
    margin-left: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    background-color: #2a5d34; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .navButton:hover {
    background-color: #4b8f5e; 
    color: #90ee90;
  }
  