.new-accommodation-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #d5ffe4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-accommodation-form h2 {
  color: #6f61c0;
  text-align: center;
  margin-bottom: 20px;
}

.new-accommodation-form form {
  display: flex;
  flex-direction: column;
}

.new-accommodation-form input,
.new-accommodation-form textarea,
.new-accommodation-form select,
.new-accommodation-form button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #a084e8;
  border-radius: 4px;
  font-family: inherit;
}

.new-accommodation-form input:focus,
.new-accommodation-form textarea:focus,
.new-accommodation-form select:focus {
  border-color: #8be8e5;
  outline: none;
}

.new-accommodation-form textarea.description {
  resize: none;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.form-buttons .btnCreate {
  background-color: #6f61c0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

.form-buttons .btnBack {
  background-color: white;
  color: #6f61c0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-accommodation-form button:hover {
  background-color: #a084e8;
}

.new-accommodation-form p {
  color: red;
  margin: 0;
}
